/* .subSection{
    background: rgb(243, 242, 242);
    margin: 15px 0;
}
.title-padding{
    padding: .5rem !important;
}
.slds-accordion__summary-heading{
    background: rgb(243, 242, 242);
}
.mainSection .slds-accordion__summary .slds-accordion__summary-heading > button,
.mainSection .sectionRight{
    padding: .5rem;
    background: rgb(243, 242, 242);
    cursor: pointer;
    color: currentColor;
}
.mainSection .slds-wrap .slds-col{
    padding: 5px;
}
.mainSection .slds-accordion__content {
    margin: 10px;
}
.label-hidden > label {
    display: none;
}

.slds-form-element_edit {
    margin-left: 10px;
    margin-right: 10px;
} */

.leftblock {
    float: left;
    width: 48%;
    padding-top: 0px;
    margin-top: 10px;
}

.rightblock {
    float: right;
    width: 48%;
    padding-top: 0px;
    margin-top: 10px;
}

.clearpaddingtop {
    padding-top: 0px;
}

.align_left {
    text-align: left;
}
.align_center {
    text-align: center;
}
.align_right {
    text-align: right;
}