.Proceed {
    color: green;
}
.Caution {
    color: #f5bd1f;
}
.Stop {
    color: #ff0000;
  }
.slds-button_icon-bare {
    display: none;
}
table.tblCheckRiskHealth tr:nth-child(even) {
    background: white;
}
table.tblCheckRiskHealth tr:nth-child(odd) {
    background: rgb(243, 242, 242);
}