.titleValue {
  color: rgb(0, 112, 210);
  font-weight: 700;
}
.rowTblValue td {
  background: rgb(243, 242, 242);
}
table.tblCustom tr td {
  border-right: 1px solid rgb(221, 219, 218);
}
table.tblCustom tr:nth-child(even) {
  background: white;
}
table.tblCustom tr:nth-child(odd) {
  background: rgb(243, 242, 242);
}
table.tblCustom tr {
  height: 32px;
}

table.tblCustom tr td:hover {
  background-color: transparent;
}
.colorError {
  color: red;
}

div.divTbl {
  width: 1254px;
  overflow-x: scroll;
  margin-left: 292px;
  overflow-y: visible;
  padding: 0;
}

.headcol {
  position: absolute;
  width: 292px;
  left: 0;
  top: auto;
  border-top-width: 1px;
  /*only relevant for first row*/
  margin-top: -1px;
  /*compensate for top border*/
}
.tdCol {
  width: 292px;
}

.slds-p-around_small {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
.title-name {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.value-sticky{
  position: fixed;
  top: 14rem;
  z-index: 96;
  animation: SHW .5s;
  animation-fill-mode: both
}
.value-height{
  height: 6.3rem;
}
.rateContainer{
  position: sticky;
  z-index: 95;
  width: 100%;
  top: 10.8rem !important;
  background-color: white;
}
@keyframes SHW {
  from {
      transform:scale(0.7);
      opacity:0
  }
  to {
      transform: scale(1);
      opacity:1
  }
}
:host(.slds-input){
  height: 31px !important;
}
.w-38{
  width: 38% !important;
}